@model Coursach.Dish

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Удалить это блюдо?</h3>
<div>
    <h4>Блюдо</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Цена
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            Частота
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequency)
        </dd>

        <dt>
            Тип
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DishTypes.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
