@model IEnumerable<Coursach.Dish>

@{
    ViewBag.Title = "Index";
}

<h2>Блюда</h2>

<p>
    @Html.ActionLink("Добавить новое", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Цена
        </th>
        <th>
            Частота использования
        </th>
        <th>
            Тип
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DishTypes.Name)
        </td>
        <td>
            @Html.ActionLink("Пересчитать цену", "Calculate", "Dishes", routeValues: new {id = item.Id }, htmlAttributes: new {id = "generateLink"}) |
            @Html.ActionLink("Изменить", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Удалить", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
