@model IEnumerable<Coursach.MenuComposition>

@{
    ViewBag.Title = "Index";
}

<h2>Состав меню</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            № меню
        </th>
        <th>
            Название блюда
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Menu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DishComposition1.Dish1.Name)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
