@model Coursach.EntranceComposition

@{
    ViewBag.Title = "Delete";
}

<h3>Удалить ингредиент из поставки?</h3>
<div>
    <h4>Состав поставки</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Количество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            Цена
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            Поставка
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entrance1.Id)
        </dd>

        <dt>
            Ингредиент
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient1.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
