@model Coursach.MenuRequirement

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Удалить это требование?</h3>
<div>
    <h4>MenuRequirement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Количество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            Тип блюда
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DishTypes.Name)
        </dd>

        <dt>
            Меню
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu1.Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
