@model Coursach.MenuRequirement

@{
    ViewBag.Title = "Details";
}

<h2>Подробности</h2>

<div>
    <h4>Требования к меню</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Количество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            Типы блюд
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DishTypes.Name)
        </dd>

        <dt>
            Меню
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu1.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id}) |
    @Html.ActionLink("Назад", "Index")
</p>
