@model IEnumerable<Coursach.Entrance>

@{
    ViewBag.Title = "Index";
}

<h2>Поставки</h2>

<p>
    @Html.ActionLink("Добавить поставку", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Дата поставки
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Пересчитать цены", "Calculate", new { id = item.Id }) |
            @Html.ActionLink("Изменить", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Подробности", "Details", new {id = item.Id}) |
            @Html.ActionLink("Удалить", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
